
img {
    max-width: 100px;
    max-height: 100px;
    object-fit: cover;
    border-radius: 50%;
}
h2{
    color: #6a994e;
}
thead{
    background-color: #a7c957;
}

.btn{
    display: inline-block;
    border: none;
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 4px;
    transition: all 0.3s ease;
  }
  
  .btn:hover {
    background-color: #a7c957;
    color: #f2e8cf;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  }

  .form-control-file {
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    color: #f2e8cf;
    background-color: #4CAF50;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075);
    transition: background-color 0.3s ease;
  }
  
  .form-control-file:hover {
    background-color: #a7c957;
  }