/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

@font-face {
  font-family: "Source Sans Pro", sans-serif;
}
@font-face {
  font-family: "Roboto", sans-serif;
}
/* HELPER CLASS
 * -------------------------- */
/* FA based classes */
/*! Modified from font-awesome helper CSS classes - PIXEDEN
 *  Font Awesome 4.0.3 by @davegandy - http://fontawesome.io - @fontawesome
 *  License - http://fontawesome.io/license (CSS: MIT License)
 */
/* makes the font 33% larger relative to the icon container */
h1 {
  font-style: normal;
  font-size: 72px;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  line-height: 1.2;
}

h2 {
  font-size: 48px;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 700;
}

h3 {
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 1;
}

h4 {
  font-size: 24px;
  font-family: "Source Sans Pro", sans-serif;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2;
}

h5 {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
  text-transform: capitalize;
}

h6 {
  font-size: 16px;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 700;
  font-style: normal;
  line-height: 1.4;
}

p {
  font-size: 16px;
  font-style: normal;
  line-height: 1.4;
  font-weight: 400;
  font-family: "Source Sans Pro", sans-serif;
}

.custom-btn {
  color: white;
  text-transform: uppercase;
  background: #2ba7df;
  text-decoration: none;
}
.custom-btn:hover {
  text-decoration: none;
  background: #020303;
  color: white;
}

.custom-btn1 {
  color: white;
  text-transform: uppercase;
  padding: 10px;
  background: #2ba7df;
  text-decoration: none;
}
.custom-btn1:hover {
  text-decoration: none;
  background: #e60b8a;
  color: white;
}

.custom-btn2 {
  color: white;
  text-transform: uppercase;
  padding: 10px;
  background: #020303;
  text-decoration: none;
}
.custom-btn2:hover {
  text-decoration: none;
  background: #e60b8a;
  color: white;
}

a {
  text-decoration: none !important;
}

/* ==========================================================================
> Header
========================================================================== */
.header {
  padding: 40px 0 300px 0;
}

.navbar {
  padding: 0 1rem;
  background: #ffffff !important;
  padding: 6px;
  margin: 0 auto;
}
.navbar a img {
  width: 50% !important;
}
.navbar .navbar-toggler {
  outline: none !important;
}
.navbar .toggler-icon {
  font-size: 24px;
  color: #000000;
}
.navbar .nav-link {
  color: #000000;
  transition: all 1s ease-in-out;
  font-size: 20px;
  justify-content: space-between;
}
.navbar .nav-link:hover {
  color: #e60b8a;
}

@media (max-width: 768px) {
  .package .shop-image .left-container h3 {
    font-size: 20px !important;
    width: 160px;
  }
  .package .shop-image .right-container h3 {
    font-size: 20px !important;
    width: 140px;
  }
  .product-title-blue {
    font-size: 33px !important;
  }
}
@media only screen and (device-width: 640px) and (device-height: 360px) {
  .shop-image .right-container h3 {
    padding-top: 30px;
  }
}
@media only screen and (device-width: 731px) and (device-height: 411px) {
  .shop-image .right-container h3 {
    padding-top: 30px;
  }
}
@media only screen and (device-width: 568px) and (device-height: 320px) {
  .shop-image .right-container h3 {
    padding-top: 30px;
  }
}
@media only screen and (device-width: 568px) and (device-height: 320px) {
  .shop-image .right-container h3 {
    padding-top: 40px;
  }
}
@media only screen and (device-width: 320px) and (device-height: 568px) {
  .shop-image .right-container h3 {
    width: 115px !important;
  }
}
@media only screen and (device-width: 1024px) and (device-height: 768px) {
  .shop-image .right-container {
    top: -10% !important;
  }
}
@media only screen and (device-width: 768px) and (device-height: 1024px) {
  .shop-image .right-container {
    top: 22% !important;
  }
}
@media only screen and (device-width: 1024px) and (device-height: 1366px) {
  .shop-image .right-container {
    top: -10% !important;
  }
}
@media only screen and (device-width: 600px) and (device-height: 450px) {
  .shop-image .right-container {
    top: 14% !important;
  }
}
@media only screen and (device-width: 653px) and (device-height: 280px) {
  .shop-image .right-container {
    top: 11% !important;
  }
}
@media only screen and (device-width: 280px) and (device-height: 653px) {
  .shop-image .right-container {
    top: -16% !important;
    left: 0% !important;
  }
}
/*image class*/
@media (max-width: 768px) {
  .package .shop-image .left-container h3 {
    font-size: 20px !important;
    width: 160px;
  }
  .package .shop-image .right-container h3 {
    font-size: 20px !important;
    width: 140px;
  }
  .product-title-blue {
    font-size: 33px !important;
  }
}
@media only screen and (device-width: 640px) and (device-height: 360px) {
  .shop-image .right-container h3 {
    padding-top: 30px;
  }
}
@media only screen and (device-width: 731px) and (device-height: 411px) {
  .shop-image .right-container h3 {
    padding-top: 30px;
  }
}
@media only screen and (device-width: 568px) and (device-height: 320px) {
  .shop-image .right-container h3 {
    padding-top: 30px;
  }
}
@media only screen and (device-width: 568px) and (device-height: 320px) {
  .shop-image .right-container h3 {
    padding-top: 40px;
  }
}
@media only screen and (device-width: 320px) and (device-height: 568px) {
  .shop-image .right-container h3 {
    width: 115px !important;
  }
}
@media only screen and (device-width: 1024px) and (device-height: 768px) {
  .shop-image .right-container {
    top: -10% !important;
  }
}
@media only screen and (device-width: 768px) and (device-height: 1024px) {
  .shop-image .right-container {
    top: 22% !important;
  }
}
@media only screen and (device-width: 1024px) and (device-height: 1366px) {
  .shop-image .right-container {
    top: -10% !important;
  }
}
@media only screen and (device-width: 600px) and (device-height: 450px) {
  .shop-image .right-container {
    top: 14% !important;
  }
}
@media only screen and (device-width: 653px) and (device-height: 280px) {
  .shop-image .right-container {
    top: 11% !important;
  }
}
@media only screen and (device-width: 280px) and (device-height: 653px) {
  .shop-image .right-container {
    top: -16% !important;
    left: 0% !important;
  }
}
img {
  width: 100%;
}

/*********Button Top**********/
#button {
  display: inline-block;
  background-color: rgb(149, 231, 149);
  width: 50px;
  height: 50px;
  text-align: center;
  border-radius: 4px;
  position: fixed;
  bottom: 30px;
  right: 30px;
  transition: background-color 0.3s, opacity 0.5s, visibility 0.5s;
  opacity: 0;
  visibility: hidden;
  z-index: 1000;
}

#button::after {
  content: "\f077";
  font-family: FontAwesome;
  font-weight: normal;
  font-style: normal;
  font-size: 2em;
  line-height: 50px;
  color: #fff;
}

#button:hover {
  cursor: pointer;
  background-color: #333;
}

#button:active {
  background-color: #555;
}

#button.show {
  opacity: 1;
  visibility: visible;
}

/**************Nav Active Code****************/
.active {
  color: #e60b8a !important;
  border-bottom: 2px solid #e60b8a;
}

/**************Banner Slider**************/
.slide {
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: cover;
  height: calc(100vh - 95px);
  width: 100%;
}

.slider .slick-prev:before {
  color: red;
  font-size: 25px;
}
.slider .slick-next:before {
  font-size: 25px;
  color: red;
}

/* first section's first row's class name*/
.shop-image {
  position: relative;
  text-align: center;
  color: white;
  /* left container of shop-image*/
  /*right container*/
}
.shop-image .left-container {
  position: absolute;
  color: #2ba7df;
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
}
.shop-image .left-container h3 {
  width: 204px;
  font-size: 36px;
  margin-bottom: 30px;
}
.shop-image .right-container {
  position: absolute;
  color: #020303;
  top: 2%;
  left: 7%;
  transform: translate(2%, 40%);
}
.shop-image .right-container h3 {
  width: 166px;
  font-size: 36px;
  margin-bottom: 30px;
}
.shop-image .blue-title {
  color: #2ba7df;
}
.shop-image .black-title {
  color: #020303;
}

/*fist sctions second row's 3 div's class name is pack*/
.pack:hover {
  transition: all 1s linear;
}
.pack:hover .pack-head-title {
  background: #e60b8a;
  color: white;
}

.product-title-blue {
  color: #2ba7df !important;
}
.product-title-blue span {
  color: #e60b8a !important;
}

/* End of package section*/
/* popular product section*/
.popular-product .single-product,
.popular-product .popular-product-name {
  transition: all 0.5s linear;
}
.popular-product .single-product:hover,
.popular-product .popular-product-name:hover {
  box-shadow: 0 10px 15px rgb(0, 0, 0);
  color: #f0f0f0;
  background: #2ba7df;
}

/**********   services section  *************/
.service {
  background: #f8f8f8;
  padding: 20px 0 250px 0;
  /*******service Slider Button******************/
}
.service .slick-prev:before {
  color: red;
  font-size: 25px;
}
.service .slick-next:before {
  color: red;
  font-size: 25px;
}

.service-img {
  margin-top: 20px;
  margin-bottom: 10px;
}

/**************  design process section  **********/
.design-process {
  background: #e60b8a;
}
.design-process .vedio {
  margin-top: -200px;
  margin-bottom: 40px;
}
.design-process img {
  width: 20% !important;
}

/***********End Of Design Process  ***********/
/*********************News Letter section***********/
.Newsletter {
  margin-top: 80px;
}

.email {
  height: 50px;
  padding-left: 27px;
}

.left-pd {
  padding: 2px 36px 2px 38px;
}

.subscribe {
  padding: 8px 43px 9px 38px !important;
}

.Newsletter-heading h2 {
  color: #2ba7df;
}

.icons {
  color: #b8c2d1;
  background: white;
  font-size: 32px;
  border-radius: 5px;
  padding: 18px 16px 16px 16px;
  border: 1px solid #b8c2d1;
  text-decoration: none;
}
.icons:hover {
  text-decoration: none;
  background: #2ba7df;
  color: white;
}

.fb-icon {
  padding: 18px 23px 15px 20px;
}

.icon-list {
  padding-top: 50px;
}

/**************************Footer******************/
.footer {
  padding-top: 10px;
  background: #f0f0f0;
  margin-top: 85px;
}
.footer .first-coloumn-icon {
  width: 12% !important;
}
.footer img {
  width: 45%;
  padding-bottom: 10px;
}

.ul-margin {
  margin: 55px 0px 10px 0px;
}
.ul-margin .fa {
  color: #e60b8a;
}

.ul-about .footer-heading {
  padding-bottom: 10px;
}

.first-col {
  color: #020303;
  font-weight: 600;
  line-height: 2;
}

.ul-about li {
  padding-top: 20px;
  line-height: 0.9;
}
.ul-about a {
  color: #020303;
}
.ul-about .footer-padding {
  margin-left: 20px;
}

/****************Copy right section**************/
.copyright {
  background: #2ba7df;
  padding-bottom: 35px;
  padding-top: 30px;
}
.copyright p {
  color: white;
}
.copyright .copyright-div .p {
  font-weight: 600;
  line-height: 0.8;
}
.copyright .copyright-heading {
  font-weight: 700 !important;
}/*# sourceMappingURL=styles.css.map */